body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:90vw;
    background-image: url("https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=830&q=80");
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4vw;
    
    // &__unsplashImage{
    //     background-position: 0%;
    // }

    &__search{
        padding: 1.8rem;
       display: flex;
      
        
    }
    &__input{
        border-radius: 10px;
        width: 70vw;
        color: rgb(58, 56, 56);
        font-size: 1rem;
        float: left; 
        border: none;
        
    }
    
    &__input:focus{
      border: none;
      size: 2rem;
    }
      
    &__first,&__second,&__third,&__fourth, &__fifth{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 25px;
        margin-top: 1rem;
        width: 90vw;
       
    }
    &__first{
        background-color: rgba(226, 111, 29, 0.41);
        height: 190px;
        border-radius: 35px;
    }
    &__second{
    
        background-color: rgba(226, 111, 29, 0.314);
        
    }
    &__third{
        
        background-color: rgba(226, 111, 29, 0.205);
    }
    &__fourth{
        
        background-color: rgba(226, 111, 29, 0.132);
    }
    &__fifth{
       
        background-color: rgba(226, 111, 29, 0.133);
    }
}